# Virtual environments
venv/
*/venv/

# Python cache files
*.pyc
__pycache__/
*.pyo
*.pyd

# Environment files
.env
db/.env

# macOS system files
.DS_Store

# Editor/IDE files
.vscode/
*.code-workspace

# Dependency directories (if any)
*.egg-info/
dist/
build/